<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
</head>
<body>
<div align="center">
    <h1>Student Registration</h1>
    <form action="/Student/save" method="post">
        <label>Name:</label>
        <input type="text"/><br/>

        <label>E-mail:</label>
        <input type="text"/><br/>
        <label>Age:</label>
        <input type="text"/><br/>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>